body {
  font-family: 'Roboto', sans-serif;
  color: var(--SLATE, #434455);
  background-color: #fff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
h2 {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  font-weight: 700;
}
h3 {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.4px;
  font-weight: 500;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px 0 15px;
}
/* Header Styles */
.page-header {
  margin-left: auto;
  margin-right: auto;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
}
.header-container {
  display: flex;
}

.page-header-nav-list {
  display: flex;
  align-items: flex-start;
  gap: 40px;
 
}
.page-header-nav {
  display: flex;
  align-items: center;
 
}

/* Logo styles */
.page-header-logo-link {
  color: var(--IRIS, #4d5ae5);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  margin-right: 76px;
}
.page-header-logo-link-item {
  color: #2e2f42;
}
/* Navigation Styles */
.page-header-nav-list-item {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  display: flex;
  
}

.page-header-nav-link {
  color: #2e2f42;
  
}
.page-header-nav-link:hover,
.page-header-nav-link:focus {
  color: #404bbf;
}
/* Contacts Styles */
.contacts-list-link {
  color: var(--SLATE, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  
  
}
.contacts-list-link:hover,
.contacts-list-link:focus {
  color: var(--OCEAN, #404bbf);
}
.contacts {
  font-style: normal;
  display: flex;
  gap: 40px;
  align-items: center;
}
.contacts-list {
  display: flex;
  gap: 40px;
  margin-left: 332px;
  padding: 24px 0;
  
}


/* Hero Section  */
.hero-section {
  flex-shrink: 0;
  background-color: var(--NAVY-BLUE, #2e2f42);
  display: flex;
  align-items: center;
  margin-bottom: 0;
  padding: 188px 0;
}

.hero-section-title {
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 1.12px;
  max-width: 496px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.hero-section-button {
  background-color: #4d5ae5;
  color: var(--WHITE, #fff);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  padding: 16px 32px;
  align-items: center;
  gap: 10px;
  margin-top: 48px;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: auto;
    margin-right: auto;
}
.hero-section-button:hover {
  background: #404bbf;
}
.hero-section-button:focus {
  background-color: #404bbf;
}
/* Advantages styles */

.advantages-title {
  font-weight: 500;
}
.advantages-list {
  display: flex;
  gap: 24px;
  flex-shrink: 0;
}
.advantages-list-item {
  display: flex;
  width: calc((100% - 72px) / 4);
  flex-direction: column;
  align-items: flex-start;
 
}
.advantages-list-title {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}
.advantages-list-text {
  color: var(--SLATE, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
/* Team styles */
.team-section {
  background: var(--CLOUD, #f4f4fd);
  flex-shrink: 0;
}
.team-section-title {
  font-weight: 500;
  margin-bottom: 72px;
}
.team-section-list {
  display: flex;
  gap: 24px;
}
.team-section-list-item {
  justify-content: center;
  background-color: #ffffff;
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
 
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
}
.team-names {
  text-align: center;
  margin-bottom: 8px;
}
.team-text {
  text-align: center;
}
.team-container {
  padding: 32px 0;
}

/* Portfolio styles */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  width: 360px;
}

.portfolio-list-item {
  display: inline-flex;
  flex-direction: column;
  padding-bottom: 32px;
  align-items: flex-start;
  width: calc((100% - 48px) / 3);
}
.portfolio-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-weight: 500;
  margin-bottom: 72px;
}
.portfolio-names {
  color: var(--NAVY-BLUE, #2e2f42);
  margin-bottom: 8px;
}


/* Footer Styles */
.page-footer {
  flex-shrink: 0;
  background: var(--NAVY-BLUE, #2e2f42);
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-text {
  color: var(--CLOUD, #f4f4fd);
  max-width: 264px;
}
.page-footer-logo-link {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 16px;
}

.page-footer-logo-link-item {
  color: #f4f4fd;
}

